body{
	background-size: 100% 100%;
	background-color:rgb(200,800,400);
	background-repeat: no-repeat;
	background-attachment: fixed;}
h1{position:relative;left:370px;top:60px;
	color: rgb(255,55,50);font-size: 50}
