body{
	background-size: 100% 100%;
	background-color:rgb(100,200,100);
	background-repeat: no-repeat;
    background-attachment: fixed;
}
#page1{width: 100%;position:relative;left:400px;
		font-size:33 }
#page2{color:black;
		font-size:22 }
#links {
	color:white;background-color:pink;position:relative;
	left:252;top:0;font-size: 30px;width:515}
#links a:hover{color:black;background-color:white;
         text-decoration:underline} 	
a{text-decoration:none;color:white;position:relative;
	left:0px;width:1100}
p{font-size: 20;
}
ol{color: blue;
	font-size: 35}